<!DOCTYPE html>
<html>
    <head>
        <title>Show & Tell Collection</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500,700,900&display=swap" rel="stylesheet">
    </head>

    <body>

        <div id="app" v-cloak>
            <h1> Movies Tickets </h1>

                <table v-bind:style="tableStyle">
                    <thead v-bind:style="headStyle">
                        <tr>
                            <th>Movie</th>
                            <th>Theater</th>
                            <th>Date</th>
                            <th>Duration</th>
                            <th>Description</th>
                            <th>Poster</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr is="movie-component" v-for="(movie, index) in movies" v-bind:class="{even: (index + 1) % 2 === 0, odd: (index + 1) % 2 !==0}" v-cloak
                        v-bind:name="movie.name"
                        v-bind:theater="movie.theater"
                        v-bind:date="movie.date"
                        v-bind:duration="movie.duration"
                        v-bind:description="movie.description"
                        v-bind:image="movie.image">
                        </tr>
                    </tbody>
                </table>

                <form v-on:submit.prevent="submitHandler" class="new-movie-form">
                    <fieldset>

                        <legend>Add a movie here</legend>
                        <div>
                            <label for="name">Name</label>
                            <input id="name" type="text" v-model="newMovieObj.name">
                        </div>
                        <div>
                            <label for="theater">Theater</label>
                            <input id="theater" type="text" v-model="newMovieObj.theater">
                        </div>
                        <div>
                            <label for="date">Date</label>
                            <input id="date" type="date" v-model="newMovieObj.date">
                        </div>
                        <div>
                            <label for="duration">Duration</label>
                            <input id="duration" type="text" v-model="newMovieObj.duration">
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <textarea id="description" type="text" v-model="newMovieObj.description"></textarea>
                        </div>
                        <div>
                            <label for="image">Image</label>
                            <input id="image" type="text" v-model="newMovieObj.image">
                        </div>

                        <button class="my-button" type="submit">Submit</button>

                    </fieldset>
                </form>
        </div>
        <p>The art images are by <a href="https://www.deviantart.com/dahlia069/gallery">This artist.</a></p>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>